.HorizontalNav-item {
    font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.5em;
    color: #f8b700;
    padding: 6.67px;
    padding-left: 10px;
    padding-right: 10px;
}

.title-style{
    text-align: center;     
    color:green; 
    background-color:black; 
    margin-top:100px; 
}

.my-pagination /deep/ .ngx-pagination{
    a{
        color:white; 
    }
}