.bg-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/background/coolbgazeroth.jpg);
    background-repeat:no-repeat; 
    background-size:cover; 
    

}

