<ng-container *ngFor="let playerHeader of mapPlayerToHeaders">
    <ng-container *ngIf="playerHeader.name===player.name">
        <a routerLink="/players/{{player.name}}" class="list-group-item header-bg" [style.background-image]="'url(assets/images/headers/' + playerHeader.image+ ')'">
            <h4 class="list-group-item-heading custom-group-item-heading">
                <ng-container *ngFor="let icon of classIcons">
                    <ng-container *ngIf="player.class===icon.id">
                        <img class="icon-image-half" [src]="'assets/images/classes/' + icon.image" /> {{player.name}} |
                        <ng-container *ngFor="let class of classes">
                            <ng-container *ngFor="let race of races">
                                <ng-container *ngFor="let classColor of classColors">
                                    <ng-container *ngIf="player.class===class.id && player.race===race.id && player.class===classColor.id">
                                        <span class="smaller-font-race-class" [style.color]="classColor.color">{{race.name}}
                                            {{class.name}}</span>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </h4>
            <span class="smaller-font-level-realm">
                <b>Level</b>: {{player.level}} |
                <b>Realm:</b> {{player.realm}}
            </span>
        </a>
    </ng-container>
</ng-container>